* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

.img {
  width: 100%;
  height: 250px;
}

a {
  text-decoration-line: none;
}

.header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #aaa;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.header p {
  color: #000;
  font-size: 24px;
  font-family: cursive;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 22px;
}

.description {
  color: #555;
  font-size: 12px;
  line-height: 18px;
  padding-top: 4px;
}

.imgContainer {
  width: 80%;
  height: 250px;
  margin: 0 auto;
}

.title {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin-top: 5px;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}

.bigContainer {
  height: 100vh;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
}

.container {
  padding: 10px 0;
  width: 100%;
}

.section {
  margin: 10px 0;
  width: 100%;
  height: 300px;
  position: relative;
}

@media screen and (min-width: 540px) {
  .container {
    display: inline-block;
    flex-basis: 49%;
    height: 300px;
    max-width: 49%;
    padding: 10px;
  }
}

@media screen and (min-width: 828px) {
  .container {
    height: 300px;
    flex-basis: 32.33333333%;
    max-width: 32.333333333%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    flex-basis: 25%;
    max-width: 25%;
    padding: 12px;
  }
}
